<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Document</title>
</head>

<body>
    <p>The learning management system is built using Node.js, Express.js, Sequelize, and Passport</p>
    <p> .js for authentication. It caters to both students and educators, dividing them by roles. E</p>
    <p> ducators can create courses, chapters, and pages, while students can enroll in courses and view
    <p> content. The platform emphasizes user-friendliness, allowing users to change passwords on their homepage and
        sign out from anywhere. </p>
    <p> The system prioritizes security, reliability, and aids in tracking progress and achieving educational goals.</p>
</body>

</html>