<!DOCTYPE html>
<html>

<head>
  <!-- Include Tailwind CSS stylesheet -->
  <meta name="csrf-token" content="<%= csrfToken %>" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <div class="navbar bg-gray-900 text-white p-4 mb-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center">
        <div class="navbar-logo">
          <img
            src="https://superblog.supercdn.cloud/site_cuid_clbaherx5941821ml5d9gt506f/images/logo-ooolab-1686735396309.jpg"
            alt="Logo" class="max-h-10">
        </div>

      </div>
      <div class="flex space-x-8">
        <a href="/show" class="text-white">Home</a>
        <a href="/about" class="text-white">About</a>
        <a href="/contact" class="text-white">Contact</a>

        <a href="/mycoursestudent/<%=a%>" class="text-white">mycourse</a>

      </div>
    </div>
  </div>

  <div class="flex justify-center items-center h-screen">
    <div>
      <img src="https://media.baamboozle.com/uploads/images/292423/1620326289_18606_url.jpeg" alt="progress">
    </div>

    <div class="w-1/2 bg-blue-200 h-10 relative">

      <div class="absolute inset-0 bg-green-500" style="width: <%= p %>%;"></div>
      <div class="absolute inset-0 flex items-center justify-center text-white font-bold">
        <%= p %> %
      </div>
    </div>
  </div>
</body>

</html>